
:root{
    --background-mountains: linear-gradient( 145deg, #cf8266 , #924a30) ;
    --grass-color:#67A167 ;
    --shadow-grass-color: #a6543d;
    --shadow-primary: 12px 10px 8px -5px #4d2b2bd5;
}

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #2c3e50;
}

.phone{
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #CCEFFF;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    counter-reset: game;
    overflow: hidden;
}


/*//////////////////////////////////////////////////////////////
//////////////////////   MOUNTAINS   ///////////////////////////
//////////////////////////////////////////////////////////////*/

.mountain{
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 0 0;
    box-shadow: var(--shadow-primary);
    background-image: var(--background-mountains);
    overflow: hidden;   
}

.mountain--height{
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
}

.mountain--medium{
    z-index: 5;
    left: 10px;
    width: 180px;
    height: 300px;
}

.mountain--short{
    z-index: 7;
    right: 10px;
    width: 140px;
    height: 200px;
}


.grass{
    position: absolute;
    width: 100%;
    height: 100px;
}

.body-grass{
    z-index: 2;
    top: 0;
    background: linear-gradient(135deg, var(--grass-color) 25%, transparent 25%) -50px 0,
    linear-gradient(-135deg, var(--grass-color)  25%, transparent 25%) -50px 0;
    background-size: 20px 200px;

}
.shadow-grass {
    z-index: 1;
    top: 10px;
    background: linear-gradient(135deg, var(--shadow-grass-color) 25%, transparent 25%) -50px 0,
    linear-gradient(-135deg, var(--shadow-grass-color)  25%, transparent 25%) -50px 0;
    background-size: 20px 220px;
}

.plant{
    position: absolute;
    bottom: -10px;
    z-index: 9;
    width: 55%;
    height: 65px;
    background: var(--grass-color);
    border-radius: 40px;
}

.plant::before{
    position: absolute;
    top: -35px;
    right: 25%;
    content: "";
    width: 50%;
    height: 90%;
    background: var(--grass-color);
    border-radius: 100px 100px 10px 20px;
}

.plant--left{
    left: -30px;
}

.plant--right{
    right: -30px;
}

/*//////////////////////////////////////////////////////////////
///////////////////////   POKEMONS   ///////////////////////////
//////////////////////////////////////////////////////////////*/

.pokemon{
    position: absolute;
    z-index: 1;
    height: 410px;
    width: 80px;
    bottom: 0;
}

/*//////////////////////////////////////////////////////////////
/////////////////    POKEMONS   EYES   /////////////////////////
//////////////////////////////////////////////////////////////*/

.eye{
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 25px;
}

.eye--left{
    left: 15px;
}

.eye--right{
    right: 15px;
}

.iris{
    background: #09797c;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    position: absolute;
}

.iris--left{
    left: 1px;
}

.iris--right{
    right: 1px;
}

.pupil{
    background: black;
    border-radius: 50%;
    width: 60%;
    height: 70%;
    position: absolute;
}

.pupil--left{
    right: 3px;
}

.pupil--right{
    right: 3px;
}

.eye-reflection{
    background: white;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 3px;
}

.eye-reflection--left{
    left: 4px;
}

.eye-reflection--right{
    right: 4px;
}

/*//////////////////////////////////////////////////////////////
//////////////////////   CHARMANDER   //////////////////////////
//////////////////////////////////////////////////////////////*/


.charmander{
    z-index: 1;
    height: 410px;
    left: 55px;
    animation: fade-out-charmander 3s ease-in-out normal infinite;
}


@keyframes fade-out-charmander{
    0% {transform: translateY(0);}
    25% {transform: translateY(-40px);}
    50% {transform: translateY(20px);}
    75% {transform: translateY(-25px);} 
    100% {transform: translateY(50px);}
}

.charmander__head{
    background: #f47d38;
    border-radius: 50%;
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

/*//////////////////////////////////////////////////////////////
///////////////////////   BULBASAUR  ///////////////////////////
//////////////////////////////////////////////////////////////*/

.bulbasaur{
    z-index: 2;
    height: 390px;
    width: 90px;
    right: 55px;
    animation: fade-out-bulbasaur 3s ease 1.5s alternate-reverse infinite;
}

@keyframes fade-out-bulbasaur{
    0% {transform: translateY(0);}
    25% {transform: translateY(-65px);}
    50% {transform: translateY(30px);}
    75% {transform: translateY(-40px);} 
    100% {transform: translateY(20px);}
}

.bulbasaur__head{
    background: #96ceb2;
    border-radius: 50%;
    height: 85px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

.bulbasaur__head::after,
.bulbasaur__head::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    top: -2px;
    background-color: #96ceb2;
    z-index: -1;
    border-radius: 8px;
}

.bulbasaur__head::after{
    content: '';
    left: 3px;
    transform: rotate(8deg);
}

.bulbasaur__head::before{
    right: 3px;
    transform: rotate(-8deg);
}

.bulbasaur__spot{
    position: absolute;
    background-color: #2d4533;
} 

.bulbasaur__spot--small{
    height: 12px;
    width: 8px;
    top: 8px;
    left: 35px;
    transform: rotate(40deg);
    border-radius: 16px 4px 12px 8px;
}

.bulbasaur__spot--big{
    height: 20px;
    width: 8px;
    top: 12px;
    left: 45px;
    transform: rotate(30deg);
    border-radius: 4px 12px 8px 16px;
}

.bulbasaur .iris{
    background: #db4246;
}

.bulbasaur .pupil{
    background: #db4246;
}

/*//////////////////////////////////////////////////////////////
///////////////////////   PIKACHU  /////////////////////////////
//////////////////////////////////////////////////////////////*/

.pikachu{
    z-index: 4;
    height: 300px;
    left: 32px;
    animation: fade-out-pikachu 3s ease-out 2s reverse infinite;
}

@keyframes fade-out-pikachu{
    0% {transform: translateY(0);}
    25% {transform: translateY(-70px);}
    50% {transform: translateY(30px);}
    75% {transform: translateY(-50px);} 
    100% {transform: translateY(40px);}
}

.pikachu__ear{
    position: absolute;
    background-color: #ffd92a;
    width: 14px;
    height: 55px;
    overflow: hidden;
}

.pikachu__ear--left{
    border-radius: 50%;
    left: 12px;
    transform: rotate(-8deg);
}

.pikachu__ear--right{
    border-radius: 90%;
    right: 4px;
    transform: rotate(20deg);
}

.pikachu__inner-ear{
    position: absolute;
    top: -12px;
    width: 12px;
    height: 40px;
    background-color: black;
}

.pikachu__inner-ear--left{
    left: -4px;
    transform: rotate(25deg);
}

.pikachu__inner-ear--right{
    right: -4px;
    transform: rotate(-25deg);
}


.pikachu__head{
    background: #ffd92a;
    border-radius: 40%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    width: 85%;
}

.pikachu__eye{
    background: #0a081a;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20px;
}

.pikachu__eye--left{
    left: 12px;
}

.pikachu__eye--right{
    right: 12px;
}

.pikachu__reflection{
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 50%;
}

/*//////////////////////////////////////////////////////////////
///////////////////////   SQUIRTLE  ////////////////////////////
//////////////////////////////////////////////////////////////*/

.squirtle{
    z-index: 6;
    height: 200px;
    width: 90px;
    right: 25px;
    animation: fade-out-squirtle 3s ease-in 1s alternate infinite;
}


@keyframes fade-out-squirtle{
    0% {transform: translateY(0);}
    25% {transform: translateY(-55px);}
    50% {transform: translateY(40px);}
    75% {transform: translateY(-45px);} 
    100% {transform: translateY(50px);}
}

.squirtle__head{
    background: #5cc5de;
    border-radius: 44%;
    height: 85px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}


.squirtle .iris{
    background: #af4c24;
}